{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# @var \Sylius\Component\Core\Model\OrderInterface order #}
{% set lookAdjustment = constant('Setono\\SyliusShopTheLookPlugin\\Model\\AdjustmentInterface::ORDER_UNIT_LOOK_ADJUSTMENT') %}
{% set lookAdjustmentsTotal = order.getAdjustmentsTotalRecursively(lookAdjustment) %}

{% if lookAdjustmentsTotal != 0 %}
    <tr>
        <td>
            <strong>{{ 'setono_sylius_shop_the_look.ui.look_discount'|trans }}:</strong>
        </td>
        <td colspan="2" id="setono-sylius-shop-the-look-summary-look-adjustment-total" class="right aligned">
            <span id="exchange-total">{{ money.convertAndFormat(lookAdjustmentsTotal) }}</span>
        </td>
    </tr>
{% endif %}
