<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>

    <div class="active section">{{ 'setono_sylius_shop_the_look.ui.looks'|trans }}</div>
</div>
