{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# @var \Sylius\Component\Core\Model\OrderInterface order #}
{% set lookAdjustment = constant('Setono\\SyliusShopTheLookPlugin\\Model\\AdjustmentInterface::ORDER_UNIT_LOOK_ADJUSTMENT') %}
{% set lookAdjustmentsTotal = order.getAdjustmentsTotalRecursively(lookAdjustment) %}

{% if lookAdjustmentsTotal != 0 %}
    {% set lookAdjustments = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(lookAdjustment)) %}
    <tr>
        <td colspan="2">
            <div class="ui relaxed divided list">
                {% for label, amount in lookAdjustments %}
                    <div class="item">
                        <div class="content">
                            <span class="header">
                                {{ label }}
                            </span>
                            <div class="description">
                                {{ money.convertAndFormat(amount) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </td>
        <td colspan="4" class="right aligned">
            {{ 'setono_sylius_shop_the_look.ui.look_adjustment_total'|trans }}: {{ money.convertAndFormat(lookAdjustmentsTotal) }}
        </td>
    </tr>
{% endif %}
