<h2 class="ui center aligned huge header">
    <a href="{{ path('setono_sylius_shop_the_look_shop_look_index') }}">Shop The Look</a>
</h2>
<div class="ui hidden divider"></div>

{{ render(url('setono_sylius_shop_the_look_shop_partial_look_index_latest', {
    'count': 4,
    'template': '@SetonoSyliusShopTheLookPlugin/shop/look/_carousel.html.twig'
})) }}
